header>*{
    padding:5px;
}
.photo-template{
    display:none;
}
section>h2{
    max-width:300px;
}
section>img{
    position: relative;
    width:250px;
    max-height:250px;
}
section>p{
    width:300px;
}
